/* :root {
  --link-color: #2900b4;
  --link-color-dark: #190070;
}

[data-theme="cheese"] {
  --background-color: #f3ca5f;
  --text-color: #3a1e0e;
}

[data-theme="lettuce"] {
  --background-color: #88d28b;
  --text-color: #091e0a;
}

[data-theme="tomato"] {
  --background-color: #f46e6e;
  --text-color: #1a0201;
}

[data-theme="beef"] {
  --background-color: #ac5a30;
  --text-color: #170005;
}

html {
  font-size: 125%;
  font-family: "Nunito", sans-serif;
  line-height: 1.4;
}

body {
  background-image: linear-gradient(135deg, #ffc96a, #ffbfdd);
  min-height: 100vh;
  padding: 3em;
}

a {
  color: var(--link-color);
}

a:hover,
a:active {
  color: var(--link-color-dark);
}

.accordion-container {
  max-width: 30em;
}

.accordion {
  position: relative;
  background-color: var(--background-color);
  color: var(--text-color);
}

.accordion::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1em;
  background-color: rgba(125, 89, 69, 0.6);
  content: "";
}

.accordion:first-child {
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
}

.accordion:first-child::before {
  border-top-left-radius: 1.5em;
}

.accordion:last-child {
  border-bottom-left-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
}

.accordion:last-child::before {
  border-bottom-left-radius: 1.5em;
} */

/**
 * START EDITING HERE
 * ==================
 */

/* .accordion__header button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 1rem);
  margin-left: 1rem;
  padding: 1.5rem 2rem 1.5rem;
  border: 0;
  text-align: left;
}

.accordion__title {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
} */

/* Indicators */
/* .accordion__indicator > * {
  width: 1rem;
}

.accordion .indicator__plus {
  display: block;
}

.accordion .indicator__minus {
  display: none;
}

.accordion.is-open .indicator__minus {
  display: block;
}

.accordion.is-open .indicator__plus {
  display: none;
} */

/* Accordion content */
/* .accordion__content {
  display: none;
  grid-template-columns: 7.5em 1fr;
  grid-column-gap: 1.5em;
  align-items: center;
  padding-right: 3em;
  padding-bottom: 1.5em;
  padding-left: 3em;
}

.accordion__content svg {
  width: 10em;
  max-width: 100%;
} */

/* =============================================== */

/* ** * 🛠 Accordion: Building an accordion *** */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
  color: #555;
  font-weight: 400;
  font-family: sans-serif;
}

.acc-container {
  width: 90rem;
  margin: 15rem auto;
}

.flex {
  display: flex;
  gap: 2.4rem;
  align-items: center;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 90rem;
} */
/* .accordion-content { */
/* display: none;
  height: 0;
   overflow: hidden; */
/* font-size: 2.4rem;
  width: 85rem;
  transition: height 0.3s ease-out; 
  display: none;
  grid-template-columns: 7.5em 1fr;
  grid-column-gap: 1.5em;
  align-items: center;
  padding-right: 3em;
  padding-bottom: 1.5em;
  padding-left: 3em;
} */

/* .accordion.accordion-is-open .accordion-content { */
/* display: block; */
/* height: 10rem; */
/* } */
/* .accordion.accordion-is-open .accordion-content { */
/* display: grid; */
/* grid-template-columns: 7.5em 1fr;
  grid-column-gap: 1.5em;
  align-items: center;
  padding-right: 3rem;
  padding-bottom: 1.5rem;
  padding-left: 3rem; */
/* }

.accordion-title,
.accordion-indicator,
.plus,
.minus {
  font-size: 3.2rem;
  font-weight: 600;
}

.plus {
  display: block;
}
.minus {
  display: none;
}

.accordion.accordion-is-open .plus {
  display: none;
}
.accordion.accordion-is-open .minus {
  display: block;
} */

/* ----------------------------------------------------------- */
:root {
  --link-color: #2900b4;
  --link-color-dark: #190070;
}

[data-theme="cheese"] {
  --background-color: #f3ca5f;
  --text-color: #3a1e0e;
}

[data-theme="lettuce"] {
  --background-color: #88d28b;
  --text-color: #091e0a;
}

[data-theme="tomato"] {
  --background-color: #f46e6e;
  --text-color: #1a0201;
}

[data-theme="beef"] {
  --background-color: #ac5a30;
  --text-color: #170005;
}

html {
  font-size: 125%;
  font-family: "Nunito", sans-serif;
  line-height: 1.4;
}

body {
  background-image: linear-gradient(135deg, #ffc96a, #ffbfdd);
  min-height: 100vh;
  padding: 3em;
}

a {
  color: var(--link-color);
}

a:hover,
a:active {
  color: var(--link-color-dark);
}

.accordion-container {
  max-width: 30em;
}

.accordion {
  position: relative;
  background-color: var(--background-color);
  color: var(--text-color);
}

.accordion::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1em;
  background-color: rgba(125, 89, 69, 0.6);
  content: "";
}

.accordion:first-child {
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
}

.accordion:first-child::before {
  border-top-left-radius: 1.5em;
}

.accordion:last-child {
  border-bottom-left-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
}

.accordion:last-child::before {
  border-bottom-left-radius: 1.5em;
}

/**
 * START EDITING HERE
 * ==================
 */

/* Accordion header */
/* .accordion__header { */
/* padding: 1.5em 2em 1.5em 3em; */
/* } */

.accordion__header button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 1rem);
  margin-left: 1rem;
  padding: 1.5rem 2rem 1.5rem;
  border: 0;
  text-align: left;
}

.accordion__title {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

/* Indicators */
.accordion__indicator > * {
  width: 1rem;
}

.accordion .indicator__plus {
  display: block;
}

.accordion .indicator__minus {
  display: none;
}

.accordion.is-open .indicator__minus {
  display: block;
}

.accordion.is-open .indicator__plus {
  display: none;
}

/* Accordion content */
.accordion__content {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-out;
}

.accordion__inner {
  display: grid;
  grid-template-columns: 7.5em 1fr;
  grid-column-gap: 1.5em;
  align-items: center;
  padding-right: 3em;
  padding-bottom: 1.5em;
  padding-left: 3em;
}

.accordion__inner svg {
  width: 10em;
  max-width: 100%;
}
